:root{
    --labda-meret: 3vmin;
}
body{
    background-color: green;
}
.wrapper{
    display: flex;
    position: relative;
    width: 100vmin;
    height: 100vmin;


}
#kerek{
    display: block;
    height: 90%;
    width: 90%;
    align-self: center;
}
#labda{
    position: absolute;
    height: 3%;
    width:3%;
    background-color: white;
    border-radius: 100%;
    left: 48.5%;


}
#labda-wrapper{
    top: 5%;
    position: absolute;
    height: 90%;
    width: 90%;
}
/* .kozepAbsolute{
    position: absolute;
    height: 60vmin;
    width: 90vmin;
    background-color: white;
    z-index: 100;
    left: calc((100vw - 90vmin)/2);
    top: calc((100vh - 60vmin)/2);
} */