:root{
    --labda-meret: 3vmin;
}
body{
    background-color: green;
}
.wrapper{
    display: flex;
    position: relative;
    width: 100vmin;
    height: 100vmin;


}
#kerek{
    display: block;
    height: 90%;
    width: 90%;
    align-self: center;
}
#labda{
    position: absolute;
    height: var(--labda-meret);
    width: var(--labda-meret);
    background-color: white;
    border-radius: var(--labda-meret);
    left: 48.5%;


}
#labda-wrapper{
    top: 5%;
    position: absolute;
    height: 90%;
    width: 90%;
}