body{
    background-color: green;
}

#tablaDiv table{ 
    background-color: white;
    border-collapse:collapse;
    border-radius: 100%;
 }
#tablaDiv td { 
    background-color:green;
    color:white;
    text-align: center;
    border:1px solid white; 
}

#tablaDiv td:hover{
    background-color: yellow!important;
}
.nemlatszik{
    border: 0!important;
    
}
#tablaDiv table .nemlatszik:hover{
    background-color: green!important;
}
