body{
    background-color: green;
    font-size: 28pt;
    font-weight: bolder;
}

:root{
    --labda-meret: 3vmin;
}

.content {
    display: grid;
    grid-template-columns: 45vw 55vw;
    grid-template-areas:
     "kerek Table"
     "zseton Table";
}

.wrapper{
    display: flex;
    position: relative;
    width: 70vmin;
    height: 70vmin;
    max-width: 45vw;
    max-height: 45vw;
    justify-content: center;
    background-color: black;
    grid-area: kerek;


}
#kerek{
    display: block;
    height: 100%;
    width: 100%;
    align-self: center;
}
#labda{
    position: absolute;
    height: 3%;
    width:3%;
    background-color: white;
    border-radius: 100%;
    left: 48.5%;


}
#labda-wrapper{
    top: 5%;
    position: absolute;
    height: 90%;
    width: 90%;
}

#tablaDiv {
    display: flex;
    width: 50vw;
    height: 90vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    grid-area: Table;
}

#tablaDiv table{ 
    background-color: white;
    border-collapse:collapse;
    border-radius: 100%;
    width: 80%;
    height: 100%;
 }
#tablaDiv td { 
    background-color:green;
    color:white;
    text-align: center;
    border:3px solid white;
}

#tablaDiv td:hover{
    background-color: yellowgreen!important;
}
.nemlatszik{
    border: 0!important;
    
}
#tablaDiv table .nemlatszik:hover{
    background-color: green!important;
}
.piros{
    background-color: red !important;
}
.fekete{
    background-color: black !important;
}
.zsetonok{
    grid-area: zsetonok;
}
